.auth__form {
  background: var(--primary-color);
  padding: 40px;
  padding-bottom: 80px;
  border-radius: 5px;
}

.auth__form img {
  width: 30% !important;
  height: 60% !important;
  object-fit: contain;
}

.auth__btn {
  background: #d78d5f !important;
  color: var(--primary-color);
  font-weight: 600;
}

.auth__form p {
  margin-top: 30px;
}

.auth__form p a {
  color: rgba(255, 255, 255, 0.564);
}

.auth__form input[type="file"] {
  color: #fff;
  cursor: pointer;
}
